.Header{

    height: 70px;
    background-color: #1A78E6;
    display: flex;
    color: white;
    justify-content: center;
    


    .headercontainer{
        width: 100%;
        max-width: 1300px;
        background-color: #1A78E6;
        display: flex;
        gap: 40px;
        align-items:center ;
        padding: 20px;
        
        

        .lists{
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 10px;
            // margin: 30 0px;

        
            &.select{
                border-radius: 15px;
                width: auto;
                height: 20px;
                border: 1px solid white;
            }

        }



    }
}